/* App.css */

.App {
  text-align: center;
  background-color: #f0f0f0; /* Cor de fundo geral */
  padding: 20px;
}

.Header {
  margin-bottom: 20px;
}

.Board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Player {
  margin: 10px;
  padding: 10px;
  background-color: #e0e0e0; /* Cor de fundo do jogador */
  border-radius: 5px;
}

.Card {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #ffffff; /* Cor de fundo da carta */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.Hints {
  padding: 20px;
  background-color: #f9f9f9; /* Cor de fundo das dicas */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilos específicos para os elementos dentro de cada componente */

.Player h2 {
  margin-bottom: 10px;
}

.Card p {
  margin-bottom: 10px;
}

.Hints ul {
  list-style-type: none;
  padding: 0;
}

.Hints li {
  margin-bottom: 5px;
}
